<!--Footer-->
  <footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <h4><i class="fa fa-copyright" aria-hidden="true"> Copyright 2021</i></h4>
    </nav>
  </footer>
  <!--JavaScript Section-->
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>
</body>

</html>